# Byte-compiled / optimized / DLL files
profile.txt
__pycache__/
.mypy_cache/
mypy_cache/
.dmypy.json
.cache/
*.bak
*.py[cod]
*.history
*.orig

# Build logs
build_log.txt
inspect_wheel.txt

# Other programs
leoProfile
leo/.vscode/
.vscode/

# PyInstaller folders.
/build/
/dist/

# The wax_off script uses the mypy_stub folder, but
# eventually all stub (.pyi) files move to the same folder as their corresponding .py files
/mypy_stubs/
# Don't add the helper directories.
# mypy_stubs/3.*/
# mypy_stubs/*.txt

# Transcrypt folder.
__target__

# .db files
*.db

# Per user stuff
.coverage
htmlcov/
.gitconfig
.viminfo
.leo
*.leo_db
.leo_shadow

# C extensions
*.so

# Distribution / packaging
.Python
env/
develop-eggs/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.eggs/
pip-wheel-metadata/

# Test results
/.pytest_cache/

./MANIFEST
#./setup.cfg
leo/test/unittest/rst_write_test.txt
*.exe
*.o
*.~*
*~
*.tmp
*.pyc
*.pyo
*Thumbs.db
*.zip
*.*.swp # vim swap files
./*.zip
./*.exe

.ropeProject

gradient.png
log.txt
stdout.txt
stdin.txt

### Leo files that should be ignored...

leo/*.zip

leo/core/LeoPy.leo
leo/core/leoPy.leo
leo/core/unittest

leo/dist/*.zip
leo/dist/*.exe

leo/doc/html/*.html
leo/doc/html/*.html.txt

leo/plugins/leoPlugins.leo
leo/plugins/temacs_ext/

leo/test/scriptFile.py
