# Global
#recursive-include leo *.*     # not needed when using `graft`
graft leo
global-exclude *.py[cod] __pycache__ *.so

# Root folder
include *.TXT
include launchLeo.py
include profileLeo.py
include pylint-leo.bat
include pylint-leo.py


# Exclusions
# same as scrub_datafiles in setup.py, prior to Github commit 9982d17e2470ac8313050b8a0288cd39d7ad4f5b
prune leo/extensions 
prune leo/test
prune leo/plugins/test
prune leo/doc/html
