
# Order matters!

# Global exclusions...

graft leo

# Inclusions...

include *.TXT
include launchLeo.py
include profileLeo.py
include LICENSE
include pyproject.toml

# Exclusions...

prune leo/doc/html
prune leo/unittests/htmlcov
prune leo/core/__pycache__
prune leo/commands/__pycache__

# Override the general exclusion of leo/doc/html.

include leo/doc/html/conf.py
