# The manifest template: specifies all files to be included in the distribution.

# Note: these are glob patterns.
# There seems to be a bug in distutils: ../ doesn't get handled properly.
# manifest.in must be in the current directory.

include manifest.in
include MANIFEST
include install
# include setup.py
# include createLeoDistribution.py
include uninstall
# These are copied to the trunk folder by the createLeoDistribution script.
include INSTALL.TXT
include README.TXT

include leo/__init__.py

include leo/config/leoSettings.leo

include leo/dist/leo-4-3.nsi
include leo/dist/leoDist.leo
include leo/dist/.pycheckrc

include leo/doc/LeoDocs.leo
include leo/doc/leoNotes.txt
include leo/doc/LeoSlideShows.leo
include leo/doc/leoToDo.txt
include leo/doc/leoToDoLater.txt

include leo/doc/README.TXT
include leo/doc/INSTALL.TXT
include leo/doc/PKG-INFO.TXT
include leo/doc/LICENSE.TXT

include leo/doc/default.css
include leo/doc/leo_rst.css
include leo/doc/silver_city.css

include leo/doc/LeoN/sun98achieving.pdf
include leo/doc/LeoN/sun97generic.pdf
include leo/doc/LeoN/sun98operational.pdf
include leo/doc/LeoN/sun98reversible.pdf

include leo/doc/html/*.*

include leo/extensions/aspell23.pyd
include leo/extensions/aspell24.pyd
include leo/extensions/optparse.py
include leo/extensions/path.py
include leo/extensions/sets.py
include leo/extensions/subprocess.py

# include leo/extensions/__init__.py

include leo/extensions/Pmw/__init__.py
include leo/extensions/Pmw/Pmw_1_3/__init__.py
include leo/extensions/Pmw/Pmw_1_3/bin/*.*
include leo/extensions/Pmw/Pmw_1_3/contrib/*.*
include leo/extensions/Pmw/Pmw_1_3/demos/*.*
include leo/extensions/Pmw/Pmw_1_3/doc/*.*
include leo/extensions/Pmw/Pmw_1_3/lib/*.*
include leo/extensions/Pmw/Pmw_1_3/tests/*.*

# These will typically generate sdist warnings.
exclude leo/extensions/Pmw/Pmw_1_3/bin/*.pyc
exclude leo/extensions/Pmw/Pmw_1_3/contrib/*.pyc
exclude leo/extensions/Pmw/Pmw_1_3/demos/*.pyc
exclude leo/extensions/Pmw/Pmw_1_3/doc/*.pyc
exclude leo/extensions/Pmw/Pmw_1_3/lib/*.pyc
exclude leo/extensions/Pmw/Pmw_1_3/tests/*.pyc

# These will typically generate sdist warnings.
exclude leo/extensions/Pmw/Pmw_1_3/bin/*.pyo
exclude leo/extensions/Pmw/Pmw_1_3/contrib/*.pyo
exclude leo/extensions/Pmw/Pmw_1_3/demos/*.pyo
exclude leo/extensions/Pmw/Pmw_1_3/doc/*.pyo
exclude leo/extensions/Pmw/Pmw_1_3/lib/*.pyo
exclude leo/extensions/Pmw/Pmw_1_3/tests/*.pyo

include leo/Icons/*.*

include leo/modes/*.xml
include leo/modes/*.py

include leo/plugins/leoPlugins.leo
include leo/plugins/*.ini
include leo/plugins/*.txt
include leo/plugins/*.py

include leo/plugins/trees/*.py
# trees/pluginsManager.txt is for the use of a plugin
include leo/plugins/trees/pluginsManager.txt

include leo/scripts/openLeoScript.sh
include leo/scripts/scripts.leo
include leo/scripts/leoScripts.txt
include leo/scripts/*.py

# include leo/src/__init__.py
include leo/src/buttons.txt
include leo/src/LeoPy.leo
include leo/src/leo*.py
include leo/src/leoProjects.txt
include leo/src/oldLeoProjects.leo
include leo/src/unitTests.txt

# include leo/test/__init__.py
include leo/test/test.leo
include leo/test/unitTest.leo

include leo/test/unittest/at-file-thin-test2.txt
include leo/test/unittest/batchTest.py
include leo/test/unittest/leoDynamicTest.py
include leo/test/unittest/errorTest.py