# Processed in order listed

global-exclude *.py[cod] __pycache__ *.so

# Root folder
include *.TXT
include LICENSE
include pyproject.toml

# # # include launchLeo.py
# # # include profileLeo.py
# # # include pylint-leo.bat
# # # include pylint-leo.py
# # # include *.nsi

# Exclusions

prune leo/core
prune leo/commands
prune leo/dist
prune leo/doc
prune leo/docs
prune leo/external
prune leo/Icons
prune leo/modes
prune leo/plugins
prune leo/scripts
prune leo/test
prune leo/themes
prune leo/tools
prune leo/unittests
prune leo/www
