[build-system]
requires = ["setuptools>=38.6.0",
    "build>=0.6.0",
    "setupext-janitor>=1.1",
    "wheel>=0.31.0",
    "twine>=1.11.0"]
    
build-backend = 'setuptools.build_meta'

[tool.ruff]
line-length = 120