#@+leo-ver=5-thin
#@+node:ekr.20240201175949.1: * @file ../../requirements.txt
#@@language python
#@@nosearch

# For emergency install message.

tk  # tkinter.

# For commands...

mypy
types-docutils
types-Markdown
types-paramiko
types-PyYAML
types-requests
types-six

pylint
pyflakes

# For plugins...

docutils    # For Sphinx and rST plugins.
flexx       # leoflexx.py plugin.
meta        # livecode.py plugin.
pyenchant   # The spell tab.
sphinx      # rST plugin.
windows-curses; platform_system=="Windows"  # cursesGui2 plugin on Windows.
Send2Trash; platform_system=="Windows"

# For leoAst.py and leoTokens.py...

asttokens   # For unit tests.
black       # For unit tests.

# Developer stuff...

# PyQt5 >= 5.15  # #2884: require v5.15. #1217: require v5.12+.
PyQt6 >= 6.6
PyQtWebEngine
#@-leo
