# @+leo-ver=5-thin
# @+node:ekr.20240201175949.1: * @file ../../requirements.txt
# leo-editor/requirements.txt.

# The dependencies here should match those in pyproject.toml.

# @+<< requirements.txt: dependencies >>
# @+node:ekr.20241022091142.1: ** << requirements.txt: dependencies >>
# Warning: these dependencies should match those in pyproject.toml.

# For testing.
beautifulsoup4  # For link testing.
pytest
pytest-cov      # For coverage testing.
ruff==0.16.4
ty==0.0.73

# General packages for plugins, leoserver and commands...

docutils        # For Sphinx and rST plugins.
jedi            # For autocompletion.
jupytext        # For paired .ipynb/.py files.
lxml            # For leoImport.py importers.
markdown
# matplotlib
numpy
pyenchant       # The spell tab.
# PyYAML        # auto_colorize2_0.py plugin.
sphinx          # For documentation.
sphinx-book-theme
urllib3
websockets      # For leoserver.

# Gui packages...

PyQt6>= 6.6
# PyQt6-QScintilla
# PyQt6-WebEngine
# Send2Trash; platform_system=="Windows"  # For picture_viewer plugin.
# @-<< requirements.txt: dependencies >>

# @@language python
# @@nosearch

# @-leo
