/* EKR.css: overridews of c5 styles. */

/* Important: to get scrolling, we must never use fixed position.*/

html>body div#header, html>body div#footer, 
  html>body div#controls, html>body .slide { position: absolute; }

div#controls form { position: absolute; }

/* We can kill these without loss. */
div#footer { display: none; }
#navList { display: none; }
a#toggle { display: none; }

/* See http://www.w3schools.com/css/css_font.asp */
body { font-size: 100%; }
p { font-size: 1.0em; }

/* Make the header smaller. */
div#header {height: 2em;}
.slide h1 {top: 0; padding: 5px 0 0 0;}

#slide0 h1 {position: absolute; top: 0; left: 87px;
  font: bold 1.8em Helvetica,sans-serif;
  margin: 0; padding: 0 0 0 0; z-index: 1;
  color: #DDE; background: #005;}
  
  /*
  white-space: nowrap;
  font: bold 150%/1em Helvetica, sans-serif; text-transform: capitalize;
  color: #DDE; background: #005;}
  */


/* Ref: from s5-core.css...

div#header, div#footer, div#controls, .slide {position: absolute;}

html>body div#header, html>body div#footer, 
  html>body div#controls, html>body .slide {position: fixed;}
*/

/* Ref: from framing.css...

div#header, div#footer, .slide {width: 100%; top: 0; left: 0;}
div#header {top: 0; height: 3em; z-index: 1;}

div#footer {top: auto; bottom: 0; height: 2.5em; z-index: 5;}

.slide {top: 0; width: 92%; padding: 3.5em 4% 4%; z-index: 2;  list-style: none;}

div#controls {left: 50%; bottom: 0; width: 50%; z-index: 100;}
div#controls form {position: absolute; bottom: 0; right: 0; width: 100%; margin: 0;}

#currentSlide {position: absolute; width: 10%; left: 45%; bottom: 1em; z-index: 10;}
html>body #currentSlide {position: fixed;}
*/

/* Ref: from pretty.css...

div#header, div#footer {background: #005; color: #AAB;
  font-family: Verdana, Helvetica, sans-serif;}
  
div#header {background: #005 url(bodybg.gif) -16px 0 no-repeat;
  line-height: 1px;}

div#footer {font-size: 0.5em; font-weight: bold; padding: 1em 0;}

#footer h1, #footer h2 {display: block; padding: 0 1em;}
#footer h2 {font-style: italic;}

div#controls {position: absolute; left: 50%; bottom: 0; width: 50%;
  text-align: right; font: bold 0.9em Verdana, Helvetica, sans-serif;}
  
html>body div#controls {position: fixed; padding: 0 0 1em 0; top: auto;}

div#controls form {position: absolute; bottom: 0; right: 0; width: 100%;
  margin: 0; padding: 0;}
  
#controls #navLinks a {padding: 0; margin: 0 0.5em; 
  background: #005; border: none; color: #779; 
  cursor: pointer;}

#controls #navList {height: 1em;}
#controls #navList #jumplist {position: absolute; bottom: 0; right: 0; background: #DDD; color: #227;}
*/