Source: leo
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: 
Build-Depends: debhelper (>= 5.0.37.2), dpatch (>= 2.0.10), cdbs (>= 0.4.43), python, python-support (>= 0.4)
Homepage: http://webpages.charter.net/edreamleo/front.html 
Standards-Version: 3.7.2.2

Package: leo
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Conflicts: 
Replaces: 
Suggests: 
Description: Literate Editor with Outlines
 Leo is a tree-structured outliner with direct support for literate programming.
 Apart from programming, Leo provides a rich interface for tasks involving visual
 manipulation of hierarchical data (project management, mind mapping, concept
 experimentation).
 The whole DAG object model is exposed to the user through complete (python based)
 scripting API.
 Leo ships with both Qt and Tk based user interfaces.

 

