#!/usr/bin/make -f
# leo debian/rules file
DEB_PYTHON_SYSTEM=pysupport
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk
include /usr/share/cdbs/1/rules/dpatch.mk

install/leo::
	# remove documentation
	
	# change permission on scripts
	
	# removing bogus usr/IPython directory

binary-fixup/leo::
	# fix lintian warnings (see also patches/04_remove_shebang.dpatch)
